@using Microsoft.AspNetCore.Http;
<header>
    <nav class="navbar navbar-expand-lg navbar-light" style=" background-color: #0093d0 !important;">
        <h1>
            <a class="navbar-brand text-white" href="/Home/HomePages">
                Insurance
            </a>
        </h1>
        <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-lg-auto text-center">
                <li class="nav-item active  mr-lg-3 mt-lg-0 mt-3">
                </li>
                <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                    <a class="nav-link scroll" href="/Home/EmpRequest">Request</a>
                </li>
                <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                    <a class="nav-link scroll" href="/Home/EmpFeedBack">Feedback</a>
                </li>
                <li class="nav-item mr-lg-3 mt-lg-0 mt-3">
                    @{
                        var logout = @Context.Session.GetString("SSLogin");
                        if (logout == null)
                        {
                            <a class="nav-link scroll" href="/Login/Login">Login</a>
                        }
                        else
                        {
                            <div class="show-prfile">
                                <p class="name">@Context.Session.GetString("Username")</p>
                                <ul class="profile" style="background-color:aqua">
                                    <li class="chang-pass"><a class="nav-link scroll" href="UpdatePro/@Context.Session.GetInt32("EmpId")">Update Profile</a></li>
                                    <li class="chang-pass">
                                        <a class="nav-link scroll" href="/Login/Logout">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        }
                    }
                </li>
            </ul>
        </div>
    </nav>
</header>
