@model Client.Models.UserLogin
@ViewBag.mess
<form asp-action="Login" method="post">
    <div class="container">
        <h1>Login</h1>
        <hr>
        <label for="email"><b>UesrName</b></label>
        <input type="text" asp-for="Username" name="username" required />
        <label for="psw"><b>Password</b></label>
        <input type="password" name="password"/>
        <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px">Remember
        </label>
        <div class="clearfix">
            <button type="submit" class="signupbtn">Login</button>
        </div>
    </div>
</form>