<div class="wrapper">
    <partial name="../Shared/_NavbarAdmin.cshtml" />
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Employee Add</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <form asp-action="AddEmp" enctype="multipart/form-data" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-primary" style="background-color: #f5f5f5">
                            <div class="card-header">
                                <h3 class="card-title"></h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="inputName">First name <span style="color:red;">*</span></label>
                                    <input type="text" name="Fname" id="inputName" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputName">Last name <span style="color:red;">*</span></label>
                                    <input type="text" name="Lname" id="inputName" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputDescription">Phone <span style="color:red;">*</span></label>
                                    <input type="text" name="Phone" id="inputName" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputName">Address <span style="color:red;">*</span></label>
                                    <input type="text" name="Address" id="inputName" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputName">Email <span style="color:red;">*</span></label>
                                    <input type="text" name="Email" id="inputName" class="form-control" required>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-secondary" style="background-color: #f5f5f5">
                            <div class="card-header">
                                <h3 class="card-title"></h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="inputName">Pasword <span style="color:red;">*</span></label>
                                    <input type="password" name="Password" id="inputName" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputName">Start Date</label>
                                    <input type="date" name="Startdate" id="startdate" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="inputName">End Date</label>
                                    <input type="date" name="Enddate" id="enddate" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="inputStatus">Company <span style="color:red;">*</span></label>
                                    <select id="inputStatus" name="CompanyId" class="form-control custom-select" required>
                                        <option selected disabled>Select one</option>
                                        @foreach (var item in ViewData["company"] as IList<CompanyDetail>)
                                        {
                                            <option value="@item.Id">@item.CompanyName.</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputName">Image</label>
                                    <input type="file" name="file" id="inputName" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="inputName">IsAdmin</label>
                                    <input type="number" name="IsAdmin" value="0" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-success float-right">Create new Employee</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
<script>
    document.getElementById("startdate").valueAsDate = new Date();
    document.getElementById("enddate").valueAsDate = new Date();
</script>