@model Client.Models.HospitalInfo
<div class="wrapper">
    <partial name="../Shared/_NavbarAdmin.cshtml" />
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Hospital</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <form asp-action="AddHp" method="post">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-md-8">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title"></h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body" style="background: #eeeeee;">
                                <div class="form-group">
                                    <label for="inputName">Hospital Name <span style="color:red;">*</span></label>
                                    <input type="text" asp-for="HospitalName" id="inputName" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputDescription">Phone <span style="color:red;">*</span></label>
                                    <input type="text" asp-for="Phone" id="inputName" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputName">Address <span style="color:red;">*</span></label>
                                    <input type="text" asp-for="Address" id="inputName" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputName">Url</label>
                                    <input type="text" asp-for="Url" id="inputName" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-success float-right">Create New</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>