@model IEnumerable<Client.Models.CompanyDetail>
<div class="form-group">
    <label for="inputStatus">Company</label>
    <select id="inputStatus" class="form-control custom-select">
        <option selected disabled>Select one</option>
                @foreach (var item in Model)
                    {
                        <option value="@item.Id">@item.CompanyName.</option>
                    }
    </select>
</div>