<partial name="../Shared/_NavbarAdmin.cshtml" />
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Policy</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">
                            <a class="btn btn-success" asp-controller="Manager" asp-action="AddPolicy">Add</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-5">
            <div class="p-2 form-search">
                <div class="search-hp">
                    <form asp-action="Policy" method="get">
                        <p class="search-title">Search Name</p>
                        <input type="text" name="searchname" class="search" />
                        <button type="submit" class="btn-search"><i class="fas fa-search fa-fw"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Policy</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                
                                Policy Name
                            </th>
                            <th>
                                Policy Desciptrion
                            </th>
                            <th>
                                Company
                            </th>
                            <th style="width: 15%" class="text-center">
                                Acction
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @using Newtonsoft.Json;
                        @foreach (var item in ViewData["policy"] as IList<ProfileResult>)
                        {
                            var p = item.p.ToString();
                            var policy = JsonConvert.DeserializeObject<Policy>(p);
                            var cn = item.cn.ToString();
                            var company = JsonConvert.DeserializeObject<CompanyDetail>(cn);
                            <tr>
                                <td class="text-left">
                                    @policy.Id
                                </td>
                                <td class="text-left">
                                    @policy.PolicyName
                                </td>
                                <td class="project_progress text-left">
                                    @policy.PolicyDesc
                                </td>
                                <td class="project-state text-left">
                                    @company.CompanyName
                                </td>
                                <td class="project-actions text-center">
                                    <a class="btn btn-info btn-sm" href="/Manager/EditPolicy/@policy.Id">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="/Manager/DelPolicy/@policy.Id">
                                        <i class="fas fa-trash">
                                        </i>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>