<div class="sidebar sidebar-profile">
    <ul class="profile-modal">
        <li class="link-modal">
            <a href="/Login/Profile/@Context.Session.GetInt32("EmpId")" class="d-block">Profile</a>
        </li>
        <li class="link-modal">
            <a href="/Login/Logout" class="d-block">Logout</a>
        </li>
    </ul>
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/ADdist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div> 
        <div class="info">
            @using Microsoft.AspNetCore.Http;
            <p>
                <a href="/Login/Profile/@Context.Session.GetInt32("EmpId")" class="d-block">@Context.Session.GetString("Username")</a>
            </p>
        </div>
    </div>
    <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- Sidebar Menu -->
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item menu-open">
                    <a asp-controller="Admin" asp-action="Dashboard" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Employee
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="EmpList" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List of Employee</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="AddEmp" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Employee</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="far fa-hospital"></i>
                        <p>
                            HospitalInfo
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="HospitalInfoesList" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List of Hospital</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="AddHp" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Hospital</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fas fa-building"></i>
                        <p>
                            Company
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="Company" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List of Company</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="AddCompany" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Company</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fal fa-siren-on"></i>
                        <p>
                            Policy
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Manager" asp-action="Policy" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List of Policy</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Manager" asp-action="AddPolicy" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Policy</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="FeedBackList">
                        <i class="fas fa-comment"></i>
                        <p>
                            Feedback
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Manager" asp-action="Request">
                        <i class="fas fa-comment"></i>
                        <p>
                            Employee request
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
