<!--
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Employee Add</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
            <form asp-action="AddEmp" method="post">
        <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">General</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputName">Policy Id</label>
                                <input type="text" asp-for="PolicyId" id="inputName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputName">Policy Name</label>
                                <input type="text" asp-for="Policyname" id="inputName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Policy duration</label>
                                <textarea id="inputDescription" asp-for="Policyduration" class="form-control" rows="4"></textarea>
                            </div>-->
                            @*<div class="form-group">
                        <label for="inputStatus">Status</label>
                        <select id="inputStatus" class="form-control custom-select">
                            <option selected disabled>Select one</option>
                            <option>On Hold</option>
                            <option>Canceled</option>
                            <option>Success</option>
                        </select>
                    </div>*@
                        <!--</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Budget</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputName">Start date</label>
                                <input type="date" asp-for="Startdate" id="inputName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputName">End sate</label>
                                <input type="date" asp-for="EndDate" id="inputName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputName">Company Id</label>
                                <input type="text" asp-for="CompanyId" id="inputName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputName">Company Name</label>
                                <input type="text" asp-for="CompanyName" id="inputName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputName">Image</label>
                                <input type="file" asp-for="Image" id="inputName" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-11">
                   <button type="submit" class="btn btn-success float-right">Create New Employee</button>
            </div>
        </div>
    </section>
</div>-->